@model Book

    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="@Model.ImageThumbnailUrl" alt="Book Cover Image" />
            <div class="caption">
                <h2><a asp-controller="Book" asp-action="Details" asp-route-id="@Model.BookID">@Model.BookName</a></h2>
                <h4>@Model.Author</h4>
            </div>
        </div>
    </div>