@model HomeViewModel

    <h2>Available Books</h2>

    <div class="row">
        @foreach (var book in Model.BooksInStock)
        {
            <partial name="_books" model="book"/>
        }
    </div>