@model HomeViewModel

    <h2>Book Inventory</h2>

    <div class="row">
        @foreach (var book in Model.BookInventory)
        {
            <partial name="_books" model="book"/>
        }
    </div>