@model IEnumerable<Customer>

<html>
<div class="row">
    <div class="col-md-8 offset-md-2">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <h4>ID</h4>
                    </th>
                    <th>
                        <h4>Full Name</h4>
                    </th>
                    <th>
                        <h4>Details</h4>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var customer in Model)
                {
                <tr>
                    <td>
                        <h5>@customer.CustomerID</h5>
                    </td>
                    <td>
                        <h5>@customer.FullName</h5>
                    </td>
                    <td>
                        <a asp-controller="Customer" asp-action="CustomerInfo" asp-route-id="@customer.CustomerID" class="btn btn-sm btn-success">
                            <i class="fa-solid fa-info"></i>
                        </a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
</html>


